<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://photos.app.goo.gl/z3VYZSTAo5wEyVz48"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    {% block css_link %}{% endblock %}
    <title>{% block Title %}SM Control{% endblock %}</title>
  </head>
  <body>
    <header class="bg-primary text-white text-center py-3">
      <h1>
        <a href="/" style="text-decoration: none; color: #fff"
          >Sorting Machine</a
        >
      </h1>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          {% block tab %}
          <ul class="nav nav-pills nav-fill" style="margin-top: 10px">
            <li class="nav-item">
              <a class="nav-link" href="configurations">Configurations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sort">Sort</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="history">History</a>
            </li>
          </ul>
          {% endblock %} 
          {% block body %} 

          {% endblock %}
          <!--Footer Logo-->
          <footer class="bottom" style="margin-bottom: 15px;">
            <div class="footer">
              <div class="text-center mt-5">
                <h5 style="font-family: fantasy; font-size: small">
                  Designed and Developed by
                </h5>
                  <div class="text-center mx-auto my-auto" id="logo">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <!-- Creator: CorelDRAW X7 -->
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="2.42652in" height="2.75925in" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 193 220"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                      <style type="text/css">
                      <![CDATA[.str0 {stroke:black;stroke-width:0.238672}.fil0 {fill:black}]]>
                      </style>
                    </defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"/>
                    <g id="_2266740153776">
                    <path class="fil0 str0" d="M54 73c18,-10 18,-10 37,-21 3,-2 4,-5 2,-8 -1,-3 -5,-3 -7,-2l-38 22c-3,2 -5,2 -5,6l0 21c0,5 3,10 8,7l77 -45c5,3 10,6 15,8l0 11c-3,-2 -6,-4 -10,-5 -5,-4 -5,-3 -10,0l-18 10c-2,2 -3,5 -2,8 2,2 5,3 8,2l17 -11c6,4 10,6 16,10 5,2 10,2 10,-4l0 -23c0,-4 -2,-5 -4,-6l-17 -10c-3,-1 -4,-3 -7,-1l-72 41 0 -10z"/>
                    <path class="fil0 str0" d="M74 106c0,-5 -3,-9 -9,-6l-19 11c-3,2 -4,5 -2,8 1,2 5,3 7,2l12 -7 0 60c0,2 1,4 3,5 20,12 0,0 20,12 3,1 7,1 8,-2 1,-3 0,-6 -2,-8l-18 -10 0 -65z"/>
                    <path class="fil0 str0" d="M83 93l0 70c0,3 3,5 6,5 3,0 5,-2 5,-5l0 -70c0,-3 -2,-6 -5,-6 -3,0 -6,3 -6,6z"/>
                    <path class="fil0 str0" d="M103 105c0,23 0,46 0,69 0,3 3,6 6,6 3,0 5,-3 5,-6l0 -66 18 -10c2,-1 3,-5 2,-7 -2,-3 -5,-4 -8,-2l-19 11c-2,1 -4,3 -4,5z"/>
                    </g>
                    <path class="fil0 str0" d="M185 65l0 45 0 44 0 1c-1,4 -2,6 -5,8l-1 1 -38 22 -39 22 -1 1c-1,1 -3,1 -4,1 -2,0 -3,0 -5,-1l-1 -1 -38 -22 -39 -22 -1 -1c-3,-2 -4,-5 -4,-8l0 -1 0 -44 0 -44 0 -2c0,-3 1,-6 4,-8l1 0 39 -22 38 -23 1 0c2,-1 3,-1 5,-1 1,0 3,0 4,1l1 0 39 23 38 22 1 0c3,2 4,5 5,8l0 1zm2 104l1 -1c3,-2 5,-5 5,-8l0 -2 0 -48 0 -49 0 -1c0,-4 -2,-7 -5,-9l-1 0 -42 -25 -42 -24 -2 -1c-1,-1 -3,-1 -4,-1 -2,0 -4,0 -5,1l-2 1 -42 24 -42 25 -1 0c-3,2 -5,5 -5,9l0 1 0 49 0 48 0 2c0,3 2,6 5,8l1 1 42 24 42 24 2 1c1,1 3,1 5,1 1,0 3,0 4,-1l2 -1 42 -24 42 -24z"/>
                  </g>
                  </svg>
                <br />
                  </div>
                <span style="font-size: 10px">2022-2023</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js')}}">
        // A script function to toggle radio buttons in Sorting parameters page
    </script>
  </body>
</html>