{% extends "index.html" %}
{% block title %}
Sorting Machine
{% endblock %}

{% block body %}
<header class="bg-dark text-white text-center py-3"
	style='margin-top:50px;'>
		<h1 style="text-decoration: underline; color: #fff">
		  Sorting Machine
		</h1>
        <h4 style="color: #fff">Control Panel GUI</h4>
	  </header>
    
	  <div class="text-center pt-5 my-auto">
		<form action="#" method="POST">
			<p>
				<input type="submit" value="Start New Session" name="start_new_session" class="btn btn-outline-success"/>
			</p>
		  </form>
	  </div>

{% endblock %}
  